<%- include("header") %>
<body>
  <div id="main_section" class="bg-image shadow-2-strong">
    <div
      class="align-items-center h-100"
      style="background-color: rgba(0, 0, 0, 0.5)"
    >
      <h1>Hello world</h1>
    </div>
  </div>
</body>
<%- include("footer") %>
