  <%- include("header") %> 
  <body>
    <div id="main_section" class="bg-image shadow-2-strong">
      <div
        class="align-items-center h-100"
        style="background-color: rgba(0, 0, 0, 0.5)"
      >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-md-8">
            <div id="date">
              <h1><%= dayOfTheWeek  %> </h1>
            </div>
            <div class="rounded shadow-5-strong p-5 tasks text-start">
          
              <% for( let index = 0; index < newTodo.length; index++ ) { %>
                <div class="form-check">
                  <input type="checkbox" name="checkBox" id="flexCheckDefault" class="form-check-input" value=""/>
                  <p><%=newTodo[index]%></p> 
                </div>
                
                
              <% } %>
            

            <form action="/" method="post" class="row">
              <div class="col">
                <div class="form-outline form-white ">
                  <input type="text" id="newTodo" class="form-control" name="newTodo" autocomplete="off"/>
                  <label class="form-label" for="newTodo">New Todo</label>
                </div>
              </div>
              <div class="col-auto form-outline form-white">
                <button type="submit" class="btn btn-outline-light btn-floating"><i class="fas fa-plus"></i></button>
              </div>
            </form>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
    </div>

   <%- include("footer") %> 